{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block main_class %}h-100 d-flex align-items-center justify-content-center{% endblock %}

{% block login %}
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-md-6 pt-5">
      <div class="title-login">
        <h2 class="fst-italic green">Welcome to Grow Healthy!</h2>
        <h2 class="fst-italic green">Log in</h2>
      </div>
      <form class="login my-4" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btnGreen px-5 mb-5" type="submit">Log In</button>
        <p>If you don't have an account yet, you can sign up <a class="link" href="{{ signup_url }}">here</a></p>
      </form>
    </div>
    <div class="col-12 col-md-6" id="hero-image-login"></div>
  </div>
</div>
{% endblock %}