{% extends "base.html" %}

{% block hero_image %}
<div class="row text-center h-100">
    <div class="col-12 col-md-6 mt-4 h-100">
        <h3>Welcome to</h3>
        <h1>Grow Healthy</h1>
        <p class="fst-italic green">Your guide to tasty and nutritious meals for growing minds.
            Healthy eating habits begin with small choices that last a lifetime.</p>
        <p>Eat healthy, grow strong and happy!</p>
        <p>Join our community by logging in or registering!</p>
    </div>
    <div class="col-12 col-md-6 image-side h-100"></div>
</div>
{% endblock %}

{% block about_grow_healthy %}
{% endblock %}