{% extends "base.html" %}
{% load static %}


{% block main_class %}container-fluid{% endblock %}

{% block dashboard %}
<!-- main-dashboard.html -->

<div class="row">
    <!-- Sidebar -->
    <aside class="col-12 col-md-3 mb-4 mb-md-0 text-center">
        <form id="profileForm" class="my-4">
            <div class="mb-3">
                <img src="{% static 'images/default.jpg'%}" alt="Profile image" class="mb-2 profile-img-preview">
                <input type="file" class="form-control d-none" id="profileImgInput" accept="image/*">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control text-center" id="nameInput" value="Username" disabled />
            </div>
            <div class="mb-3">
                <textarea class="form-control text-center" id="aboutInput" rows="3"
                    disabled>Something about you</textarea>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm" id="editBtn">Edit</button>
                <button type="submit" class="btn btn-success btn-sm d-none" id="saveBtn">Save</button>
            </div>
        </form>
    </aside>

    <!-- Main content -->
    <section class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- Sub-navbar -->
                    <div class="col-12 d-flex flex-column flex-lg-row p-0 mb-md-4">
                        <a href="{% url 'dashboard' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'dashboard' %} active{% endif %}">Dashboard</a>
                        <a href="{% url 'my_recipes' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'my_recipes' %} active{% endif %}">My
                            Recipes</a>
                        <a href="{% url 'favourites' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'favourites' %} active{% endif %}">Favourites</a>
                        <a href="{% url 'add_recipe' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'add_recipe' %} active{% endif %}">Add
                            Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        card
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}