{% extends "base.html" %}
{% load static %}


{% block main_class %}container-fluid{% endblock %}

{% block dashboard %}
<!-- main-dashboard.html -->

<div class="row">
    <!-- Sidebar -->
    <aside class="col-12 col-md-3 text-center">
        <form id="profileForm" class="my-4">
            <div class="mb-3">
                <img src="{% static 'images/default.jpg'%}" alt="Profile image" class="mb-2 profile-img-preview">
                <input type="file" class="form-control d-none" id="profileImgInput" accept="image/*">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control text-center" id="nameInput" value="Username" disabled />
            </div>
            <div class="mb-3">
                <textarea class="form-control text-center" id="aboutInput" rows="3"
                    disabled>Something about you</textarea>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm" id="editBtn">Edit</button>
                <button type="submit" class="btn btn-success btn-sm d-none" id="saveBtn">Save</button>
            </div>
        </form>
    </aside>

    <!-- Main content -->
    <section class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- Sub-navbar -->
                    <div class="col-12 d-flex flex-column flex-lg-row p-0 mb-md-4">
                        <a href="{% url 'dashboard' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'dashboard' %} active{% endif %}">Dashboard</a>
                        <a href="{% url 'my_recipes' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'my_recipes' %} active{% endif %}">My
                            Recipes</a>
                        <a href="{% url 'favourites' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'favourites' %} active{% endif %}">Favourites</a>
                        <a href="{% url 'add_recipe' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'add_recipe' %} active{% endif %}">Add
                            Recipe</a>
                    </div>
                </div>
            </div>
            {% block messages %}
            <!-- Messages -->
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endblock %}
            {% block content %}
            <div class="col-12">
                <!-- Recipe cards -->
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col-12 col-sm-6 col-md-3">
                        <a href="{% url 'recipe_detail' recipe.pk %}" class="card-link">
                            <div class="card card-dashboard my-4">
                                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                                <div class="card-body card-dashboard-height">
                                    <h5 class="card-title green">{{ recipe.title }}</h5>
                                    <p class="card-text">{{ recipe.excerpt }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By {{ recipe.author }}</li>
                                </ul>
                                <div class="card-footer icons">
                                    <i class="fa-regular fa-thumbs-up icon" data-type="like"></i>
                                    <i class="fa-regular fa-comment icon" data-type="comment"></i>
                                    <i class="fa-regular fa-bookmark icon" data-type="save"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row text-center">
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="row my-4">
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if recipes.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ recipes.previous_page_number }}" class="page-link">&laquo;
                                        PREV</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled">
                                    <span class="page-link">
                                        Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
                                    </span>
                                </li>
                                {% if recipes.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ recipes.next_page_number }}" class="page-link">NEXT &raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endblock %}
            </div>
    </section>
</div>
{% endblock %}