{% extends "base.html" %}
{% load static %}


{% block main_class %}container-fluid{% endblock %}

{% block dashboard %}
<!-- main-dashboard.html -->

<div class="row">
    <!-- Sidebar -->
    <aside class="col-12 col-md-3 text-center">
        <form id="profileForm" class="my-4">
            <div class="mb-3">
                <img src="{% static 'images/default.jpg'%}" alt="Profile image" class="mb-2 profile-img-preview">
                <input type="file" class="form-control d-none" id="profileImgInput" accept="image/*">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control text-center" id="nameInput" value="Username" disabled />
            </div>
            <div class="mb-3">
                <textarea class="form-control text-center" id="aboutInput" rows="3"
                    disabled>Something about you</textarea>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm" id="editBtn">Edit</button>
                <button type="submit" class="btn btn-success btn-sm d-none" id="saveBtn">Save</button>
            </div>
        </form>
    </aside>

    <!-- Main content -->
    <section class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- Sub-navbar -->
                    <div class="col-12 d-flex flex-column flex-md-row p-0 mb-md-4">
                        <a href="{% url 'dashboard' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'dashboard' or request.resolver_match.url_name == 'recipe_detail' %} active{% endif %}">Dashboard</a>
                        <a href="{% url 'my_recipes' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'my_recipes' %} active{% endif %}">My
                            Recipes</a>
                        <a href="{% url 'favourites' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'favourites' %} active{% endif %}">Favourites</a>
                        <a href="{% url 'add_recipe' %}"
                            class="sub-nav-btn flex-fill text-center {% if request.resolver_match.url_name == 'add_recipe' %} active{% endif %}">Add
                            Recipe</a>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block messages %}
            <!-- Messages -->
            <div class="row mt-2">
                <div class="col-12">
                    {% if messages %}
                    <section id="alerts">
                        {% for msg in messages %}
                        <aside
                            class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} alert-dismissible fade show rounded-0 text-center"
                            role="alert">
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </aside>
                        {% endfor %}
                    </section>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
            {% block content %}
            <div class="col-12">
                <!-- Recipe cards -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    {% for recipe in recipes %}
                    <div class="col-12">
                        <div class="card card-dashboard my-4">
                            <a href="{% url 'recipe_detail' recipe.pk %}" class="link black">
                                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                                <div class="card-body card-dashboard-height">
                                    <h5 class="card-title green">{{ recipe.title }}</h5>
                                    <p class="card-text">{{ recipe.excerpt }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">By {{ recipe.author }}</li>
                                </ul>
                            </a>
                            <div class="card-footer icons">
                                {% if recipe.is_liked %}
                                <a href="{% url 'recipe_unlike' recipe.id %}" class="link">
                                    <i class="fa-solid fa-thumbs-up icon"></i>
                                </a>
                                <span>{{ recipe.like_count }}</span>
                                {% else %}
                                <a href="{% url 'recipe_like' recipe.id %}" class="link">
                                    <i class="fa-regular fa-thumbs-up icon"></i>
                                </a>
                                <span>{{ recipe.like_count }}</span>
                                {% endif %}
                                <a href="{% url 'recipe_detail' recipe.id %}#comments" class="link" style="color: green;">
                                    <i class="fa-regular fa-comment icon"></i>
                                </a>
                                <span>{{ recipe.comment_count }}</span>
                                {% if user.is_authenticated and recipe.author == user and filter_type == 'my' %}
                                <hr>
                                <div class=" d-flex justify-content-end">
                                    <a href="#" class="btn btn-primary link-size me-2"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" class="btn btn-danger link-size"><i class="fa-solid fa-trash"></i></a>
                                </div>
                                {% else %}
                                <i class="fa-regular fa-bookmark icon"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="row mt-5">
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if recipes.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ recipes.previous_page_number }}" class="page-link">&laquo;
                                        PREV</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled">
                                    <span class="page-link">
                                        Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
                                    </span>
                                </li>
                                {% if recipes.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ recipes.next_page_number }}" class="page-link">NEXT &raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>