/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Merriweather", sans-serif;
  --primary-color: #ded4c8; /* #ceb3a3 */
  --secondary-color: #5b6a20;
  --hover-color: #90a92e;
  --brown-color: #aa4933;
}

/* Global styles */
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
}

nav,
footer {
  padding: 0;
}

main {
  flex: 1;
  overflow: auto;
}

h1 {
  font-family: var(--secondary-font);
  text-shadow: 1px 1px 2px #353e10;
}

.green {
  color: var(--secondary-color);
}

.green-hover:hover {
  color: var(--hover-color);
}

.black {
  color: black;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

/* Navbar */
.navbar-brand {
  color: var(--secondary-color);
}

.navbar-brand:hover {
  color: var(--brown-color);
}

.btnGreen {
  background-color: var(--secondary-color);
  color: #fff !important;
  border: none;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.btnGreen:hover {
  background-color: var(--hover-color);
  color: white !important;
}

.username {
  display: flex;
  align-items: center;
}

.username p {
  color: var(--secondary-color);
  font-weight: 500;
  font-style: italic;
  margin: 0 1.5rem;
}

/* Home page */
.bg-color {
  background-color: var(--primary-color);
}

#hero-image {
  background: url("../images/children-cooking.jpg") no-repeat center
    center/cover;
  height: 500px;
}

#hero-image-login {
  background: url("../images/children-cooking-1.jpg") no-repeat center
    center/cover;
  height: 800px;
}

.card-home,
.card-dashboard {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 10px 15px gray;
}

.card-home-height {
  height: 150px;
  overflow: auto;
}

#join-us-message {
  display: none;
  color: var(--brown-color);
}

/* Log In / Sign Up */
.title-signup,
.title-login {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#signup_form {
  list-style-position: outside;
  padding-left: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left; /* или center ако сакаш центриран текст */
  max-width: 500px; /* ограничување на ширина за подобар изглед */
}

/* Dashboard */
.profile-img-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid lightgray;
}

.profile-fields {
  border: 2px solid lightgray;
  font-size: 0.95rem;
}

#editBtn {
  background-color: var(--brown-color);
  color: white;
  border: 2px solid var(--brown-color);
  font-size: large;
  font-weight: 600;
}

#editBtn:hover {
  background-color: var(--primary-color);
  color: var(--brown-color);
}

#saveBtn {
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid var(--secondary-color);
  font-size: large;
  font-weight: 600;
}

#saveBtn:hover {
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.sub-nav-btn {
  padding: 10px 0;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  user-select: none;
  display: block;
}

.sub-nav-btn:hover {
  background-color: var(--hover-color);
  color: #fff;
  text-decoration: none;
}

.sub-nav-btn.active {
  background-color: var(--hover-color);
  border-radius: 0;
}

.card-dashboard-height {
  height: 150px;
  overflow: auto;
}

.comment-author-link,
.recipe-author-link {
  text-decoration: none;
}

.author-info {
  max-height: 200px;
  object-fit: contain;
}

.link {
  text-decoration: none;
}

.icon {
  margin-left: 1rem;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.icon-like {
  color: blue;
}

.icon-save {
  color: red;
}

/* Recipe details */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-recipe-detail {
  border-radius: 15px;
  box-shadow: 5px 10px 15px gray;
}

.link-size,
.icon-size {
  font-size: 0.8rem;
}

/* Footer */
footer a {
  text-decoration: none;
  color: #aa4933;
}

/* Media queries */
@media screen and (max-width: 576px) {
  .username p {
    display: none;
  }

  .image-side {
    height: 200px;
  }

  main {
    overflow-y: auto;
  }

  .navbar .btnGreen {
    display: inline-block;
    width: 8rem;
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 576px) {
  main {
    overflow-y: hidden;
  }
}

@media screen and (min-width: 768px) {
  .title-signup,
  .title-login {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .sub-nav-btn:not(:last-child) {
    border-right: none;
  }

  .sub-nav-btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .sub-nav-btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
